.footer {
    background-color: #121744;
    color: #fff;
    padding: 0.5rem ;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: .75rem;
    line-height: 1.125;
    font-family: Poppins, sans-serif;
}