.post-detail {
    margin-top: 40px;
    background-color: #fff;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.post-detail-header {
    margin-top: 0px;
    font-size: 1.5rem;
    line-height: 1.125;
    letter-spacing: -0.1px;
    margin-bottom: 1rem;
    font-weight: 700;
    color: rgba(34, 34, 34, 1);
}

.post-user-profile {
    margin-bottom: 2.75rem;
    gap: 1.25rem;
    display: flex;
    align-items: center;
}

.post-detail a {
    text-decoration: none;
    color: inherit;
}

.post-detail a:visited {
    color: inherit;
}

.post-user-profile img {
    width: 2.5rem;
    border-radius: 9999px;
}

.post-author {
    margin-bottom: 0.25rem;
}

.post-published-date {
    color: rgba(158, 165, 171, 1);
    margin-bottom: 0px;
}

.post-author,
.post-published-date {
    font-size: .75rem;
    line-height: 1.125;
    font-weight: 600;
    max-width: 640px;
}

.post-content {
    margin-bottom: 2.5rem;
    font-size: .75rem;
    line-height: 1.125;
}

.post-content h2 {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 18px;

}

.post-content p,
.post-content h2 {
    font-size: 16px;
    line-height: 18px;
    max-width: none;
    white-space: normal;
    word-break: keep-all;
}

.post-content img {
    width: 100%;
    max-width: 56.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    margin-left: auto;
    margin-right: auto;
}

.post-content iframe {
    width: 100%;
    max-width: 56.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    margin-left: auto;
    margin-right: auto;
}

.post-content figure {
    margin: 0px !important;
}

.post-content a {
    padding: 4px 10px;
    border-radius: 0.5rem;
}

@media screen and (min-width: 768px) {
    .post-detail {
        width: 100%;
        max-width: 46.75rem;
        margin-left: auto;
        margin-right: auto;
    }

    .post-detail-header {
        font-size: 46px;
        line-height: 1;
    }

    .post-user-profile {
        margin-bottom: 1rem;
    }

    .post-user-profile img {
        width: 3.25rem;
    }

    .post-author {
        margin-bottom: 0px;
        font-size: 1rem;
        line-height: 1.75rem;
    }

    .post-content {
        font-size: 1rem;
        line-height: 1.75rem;
    }

    .post-content h2 {
        line-height: 30px;
    }

    .post-content img {
        border-radius: 0.25rem;
    }
    
}