.post-card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.post-thumbnail img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.post-content {
    padding: 10px;
}

.post-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.post-date {
    color: #777;
    margin-bottom: 5px;
}

.post-categories {
    font-style: italic;
    color: #555;
}